name: Build and Deploy MkDocs Site

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Set up Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # Step 3: Install MkDocs and dependencies
      - name: Install MkDocs and Plugins
        run: |
          pip install mkdocs \
            mkdocs-material \
            mkdocs-awesome-pages-plugin \
            pymdown-extensions>=10.0 \
            mkdocs-simple-hooks

      # Step 4: Filter files and copy to temporary directory
      - name: Filter and Copy Public Notes
        run: |
          mkdir -p .site_content
          # Define excluded folders that should never be published
          INCLUSION=("States")

          # find . -type f -exec grep -l "#publish-me" {} \; | while IFS= read -r file; do
          find . -type f | while IFS= read -r file; do
            for folder in "${INCLUSION[@]}"; do
              if [[ "$file" == *"$folder"* ]]; then
                echo "Copying file to .site_content/: $file"
                  cp --parents "$file" .site_content/
                break
              fi
            done
          done

          cp index.md .site_content/ || true
          # cp -r .overrides .site_content/
          find .site_content/ -type f

      # Step 5: Preprocess Obsidian Features
      - name: Preprocess Obsidian Features
        run: |
          echo "Pre-process"
          python .scripts/preprocess_dataviews.py
          find .site_content/ -type f -name "*.md" -exec sed -i 's/\[\[\(.*\)\]\]/[\1](\1.md)/g' {} \;
          files=$(ls ./)
          for file in $files; do
            echo "$file"
          done
          echo "Preprocessed Obsidian features in markdown files."

      # Step 6: Build and Deploy MkDocs Site
      - name: Deploy MkDocs to GitHub Pages
        run: mkdocs gh-deploy --force
